.footer {
  margin-top: 30px;

  width: auto;
  height: auto;
}
.footer .footer-wrapper {
  width: 100%;
  height: 250px;

  background-color: #222429;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.footer .footer-wrapper ul {
  padding: 30px;

  width: 25%;
  height: 100%;
}
.footer .footer-wrapper ul li:first-child {
  padding-bottom: 25px;
}
.footer .footer-wrapper ul li:not(:first-child) {
  width: 100%;
  height: 25px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer-wrapper ul li:not(:first-child) a {
  max-width: 100%;

  color: #999999;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.footer .footer-wrapper ul li:not(:first-child) a:hover {
  color: #17c7be;
}
.footer .footer-wrapper ul:last-child li {
  height: auto;
}
.footer .footer-wrapper ul:last-child li .subscribe-block {
  margin-top: 15px;

  width: 100%;
  height: 35px;

  display: flex;
  justify-content: flex-start;
}
.footer .footer-wrapper ul:last-child li .subscribe-block label {
  flex: 1;
}
.footer .footer-wrapper ul:last-child li .subscribe-block input {
  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
  height: 100%;

  background-color: #050506;

  font-family: 'Roboto Regular', sans-serif;
  font-style: italic;
  font-size: 14px;

  color: #999999;
}
.footer .footer-wrapper ul:last-child li .subscribe-block button {
  width: 35px;
  height: 35px;

  background-color: #17c7be;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
}
.footer .footer-wrapper ul:last-child li .social-block {
  margin-top: 15px;

  width: 100%;
  height: 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-wrapper ul:last-child li .social-block .social-link {
  width: 26px;
  height: 26px;

  background-color: #0e0e10;
}
.footer .copyright-wrapper {
  width: 100%;
  height: 60px;

  background-color: #000009;
}
