<footer class="footer">
  <div class="grid-container">
    <div class="footer-wrapper">
      <ul>
        <li><h5 class="typo-primary-black-italic typo-md color-white">Category</h5></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Men</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Women</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Climbing Equipment</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Backpack/Bags</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Sleeping Bags</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Clearance Lines</a></li>
      </ul>
      <ul>
        <li><h5 class="typo-primary-black-italic typo-md color-white">Customer Service</h5></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">My Wishlist</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">My Order</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Orders and Returns</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Contacts</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Site Map</a></li>
      </ul>
      <ul>
        <li><h5 class="typo-primary-black-italic typo-md color-white">My Account</h5></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">About Us</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Privacy Policy</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Your Account</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Address Book</a></li>
        <li><a class="typo-secondary-regular typo-sm color-darkgray" href="#">Product Reviews</a></li>
      </ul>
      <ul>
        <li><h5 class="typo-primary-black-italic typo-md color-white">Newsletter</h5></li>
        <li><p class="typo-secondary-regular typo-sm color-darkgray">Join thousands of other people <br> subscribe to our news</p></li>
        <li>
          <div class="subscribe-block">
            <label><input type="email" placeholder="Input your email"></label>
            <button>
              <img [src]="ASSETS.IMAGE.ICON.ARROW_RIGHT_PLAY" alt="">
            </button>
          </div>
        </li>
        <li>
          <div class="social-block">
            <a href="#" class="social-link"></a>
            <a href="#" class="social-link"></a>
            <a href="#" class="social-link"></a>
            <a href="#" class="social-link"></a>
            <a href="#" class="social-link"></a>
            <a href="#" class="social-link"></a>
            <a href="#" class="social-link"></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="copyright-wrapper"></div>
  </div>
</footer>
