.overlay {
  position: fixed;

  left: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(0,0,0,0.6);

  overflow: auto;

  z-index: 99;
}
.quick-view-window {
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 830px;
  height: 560px;

  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.image-view {
  border-right: 1px solid #f1f1f1;
  background-color: #cccccc;
}
.image-view > img {
  margin-top: 45px;

  width: 320px;
}
.image-view .wishlist-btn {
  width: 50px;
  height: 50px;

  left: 30px;
  bottom: 30px;
}
.image-view .compare-btn {
  width: 50px;
  height: 50px;

  left: 95px;
  bottom: 30px;
}
.product-info {
  height: 480px;
}
.paginator {
  padding-left: 30px;
  padding-right: 30px;

  height: calc(100% - 480px);

  border-top: 1px solid #f1f1f1;
}
.paginator p {
  color: #555555;
}
.paginator .controls {
  width: 38px;

  display: flex;
  justify-content: space-between !important;
}
.paginator .paginator-skeleton {
  min-width: 120px;
  min-height: 25px;

  background-color: #e7e7e7;

  border-radius: 2px;
}
.close-btn {
  top: 30px;
  right: 30px;

  width: 25px;
  height: 25px;
}
.close-btn img {
  transform: translateX(0px) translateY(0px);
}
.info-view {
  padding: 30px;
}
.info-view .item-name {
  width: calc(100% - 45px);
  height: 70px;
  max-height: 70px;

  overflow: hidden;
}
.info-view .item-name-skeleton span:first-child {
  min-width: 300px;
  min-height: 25px;

  background-color: #e7e7e7;

  border-radius: 2px;
}
.info-view .item-name-skeleton span:last-child {
  margin-top: 20px;

  min-width: 250px;
  min-height: 25px;

  background-color: #e7e7e7;

  border-radius: 2px;
}
.info-view .price-block {
  margin-top: 30px;
}
.info-view .price-block p:nth-child(1) {
  padding-right: 30px;
}
.info-view .price-block p:nth-child(2) {
  padding-right: 15px;

  text-decoration-line: line-through;
}
.info-view .price-skeleton {
  margin-top: 30px;

  min-width: 120px;
  min-height: 25px;

  background-color: #e7e7e7;

  border-radius: 2px;
}
.info-view .color-option {
  margin-top: 30px;
}
.info-view .select-box {
  margin-top: 8px;

  height: 50px;

  justify-content: space-between !important;
}
.info-view .select-box .color {
  flex: 1;
}
.info-view .select-box .color:not(:last-child) {
  border-right: 2px solid #fff;
}
.info-view .option-skeleton {
  margin-top: 9px;

  min-width: 100%;
  min-height: 50px;

  background-color: #e7e7e7;

  border-radius: 2px;
}
.info-view .size-option {
  margin-top: 20px;
}
.info-view .select-box .size {
  flex: 1;
}
.info-view .select-box .size:not(:last-child) {
  border-right: 1px solid #fff;
}
.info-view .quantity-option {
  margin-top: auto;
  margin-bottom: 0;
}
.info-view .quantity-option .quantity-cart {
  margin-top: 8px;

  height: 50px;

  display: flex;
  justify-content: space-between;
}
.info-view .quantity-option .quantity div {
  font-size: 16px !important;

  width: 50px;
}
.info-view .quantity-option .quantity div:first-child {
  border-right: 2px solid #dadada;
}
.info-view .quantity-option .quantity div:last-child {
  border-left: 2px solid #dadada;
}
.info-view .quantity-option .cart {
  width: 150px;

  border: none;
  outline: none;
}
.info-view .selected-option {
  position: relative;

  outline: 4px solid rgba(0,0,0,1) !important;
  border-right: none !important;

  z-index: 1;
}
