<div class="overlay" (click)="closeQuickViewWindow($event)">
  <div class="quick-view-window p-absolute bg-white content-column-start">
    <div class="product-info w-100 content-row-start">
      <div class="image-view w-50 h-100 content-column-start p-relative" [ngStyle]="{'background-color' : preSelectedProductItemOption ? '#ffffff' : '#cccccc'}">
        <img *ngIf="preSelectedProductItemOption" [src]="preSelectedProductItem.image" alt="">
        <div class="wishlist-btn content-row-center bg-lightgray p-absolute clickable-true selectable-false">
          <img [ngClass]="{'d-none' : !preSelectedProductItemOption}" [src]="ICON.HEART_DEACTIVE" alt="...">
          <!--<img [src]="ICON.HEART_ACTIVE" alt="...">-->
        </div>
        <div class="compare-btn content-row-center bg-lightgray p-absolute clickable-true selectable-false">
          <img [ngClass]="{'d-none' : !preSelectedProductItemOption}" [src]="ICON.COMPARE" alt="...">
        </div>
      </div>
      <div class="info-view w-50 h-100 content-column-start content-align-start p-relative">
        <div class="close-btn p-absolute bg-lightgray content-row-center object-ico clickable-true selectable-false" (click)="closeQuickViewWindow(null)">
          <img [src]="ICON.REMOVE" alt="...">
        </div>
        <p [ngClass]="{'d-none' : !preSelectedProductItemOption}" class="item-name typo-primary-black-italic typo-xl color-black typo-upper">{{ preSelectedProductItemOption ? preSelectedProductItem.name : null }}</p>
        <div [ngClass]="{'d-none' : preSelectedProductItemOption}" class="item-name-skeleton w-100 content-column-start content-align-start">
          <span></span>
          <span></span>
        </div>
        <div [ngClass]="{'d-none' : !preSelectedProductItemOption}" class="price-block w-100 content-row-start">
          <p class="fresh typo-primary-black-italic typo-lg color-aqua">{{ preSelectedProductItemOption ? '$'+preSelectedProductItem.price : null }}</p>
          <p class="old typo-primary-regular-italic typo-md color-darkgray">{{ preSelectedProductItemOption && preSelectedProductItem.oldPrice ? '$'+preSelectedProductItem.oldPrice : null }}</p>
          <p class="sale typo-primary-regular-italic typo-md color-black-alt">{{ preSelectedProductItemOption && preSelectedProductItem.oldPrice ? calculateSalePercent() : null }}</p>
        </div>
        <span [ngClass]="{'d-none' : preSelectedProductItemOption}" class="price-skeleton"></span>
        <div class="color-option w-100 content-column-start content-align-start">
          <p class="typo-primary-regular typo-sm color-darkgray-alt typo-capital">color</p>
          <div [ngClass]="{'d-none' : preSelectedProductItemOption}" class="option-skeleton"></div>
          <div *ngIf="preSelectedProductItemOption" class="select-box w-100 content-row-start">
            <div *ngFor="let color of preSelectedProductItemOption.availableColors" (click)="selectProductColorMethod(color.id)" class="color h-100 clickable-true" [ngStyle]="{'background-color' : color.color}" [ngClass]="{'selected-option' : color.id === selectedProduct.colorId}"></div>
          </div>
        </div>
        <div class="size-option w-100 content-column-start content-align-start">
          <p class="typo-primary-regular typo-sm color-darkgray-alt typo-capital">size</p>
          <div [ngClass]="{'d-none' : preSelectedProductItemOption}" class="option-skeleton"></div>
          <div *ngIf="preSelectedProductItemOption" class="select-box w-100 content-row-start">
            <p *ngFor="let size of preSelectedProductItemOption.availableSizes" (click)="selectProductSizeMethod(size.id)" class="size h-100 clickable-true content-row-center bg-lightgray typo-primary-regular typo-sm color-darkgray typo-upper" [ngClass]="{'selected-option' : size.id === selectedProduct.sizeId}">{{ size.name }}</p>
          </div>
        </div>
        <div class="quantity-option w-100 content-column-start content-align-start">
          <p class="typo-primary-regular typo-sm color-darkgray-alt typo-capital">quantity</p>
          <div class="quantity-cart w-100">
            <div class="quantity content-row-start bg-lightgray">
              <div (click)="changeProductQuantity(-1)" class="dec content-row-center clickable-true selectable-false h-100 typo-primary-bold typo-sm color-darkgray">-</div>
              <div class="current content-row-center h-100 typo-primary-bold typo-sm color-black-alt">{{ selectedProduct ? selectedProduct.quantity : 1 }}</div>
              <div (click)="changeProductQuantity(1)" class="inc content-row-center clickable-true selectable-false h-100 typo-primary-bold typo-sm color-darkgray">+</div>
            </div>
            <p class="cart h-100 content-row-center typo-primary-black color-white bg-aqua typo-upper clickable-true">add to cart</p>
          </div>
        </div>
      </div>
    </div>
    <div class="paginator w-100 content-row-start">
      <span [ngClass]="{'d-none' : preSelectedProductItemOption}" class="paginator-skeleton"></span>
      <p [ngClass]="{'d-none' : !preSelectedProductItemOption}" class="typo-primary-bold typo-sm typo-capital">showing 1-25</p>
      <div class="controls self-end">
        <img [ngClass]="{'d-none' : controlsLeftArrowActivity}" class="clickable-false selectable-false draggable-false" [src]="ICON.ARROW_LEFT_DISABLED" alt="...">
        <img [ngClass]="{'d-none' : !controlsLeftArrowActivity}" class="clickable-true selectable-false draggable-false" [src]="ICON.ARROW_LEFT_ACTIVE" alt="...">
        <img [ngClass]="{'d-none' : controlsRightArrowActivity}" class="clickable-false selectable-false draggable-false" [src]="ICON.ARROW_RIGHT_DISABLED" alt="...">
        <img [ngClass]="{'d-none' : !controlsRightArrowActivity}" class="clickable-true selectable-false draggable-false" [src]="ICON.ARROW_RIGHT_ACTIVE" alt="...">
      </div>
    </div>
  </div>
</div>
