<div class="home-page">
  <section class="hero-section w-100 p-relative">
    <p *ngIf="heroOfferSectionElement" class="hero-name"> {{ heroOfferSectionElement.heading }} </p>
    <div class="grid-container p-relative">
      <div class="hero-offer w-100 content-row-start content-align-start">
        <div class="info w-50 content-column-start content-align-start">
          <p [ngClass]="{'offer-heading-skeleton' : !heroOfferSectionElement}" class="offer-heading typo-primary-black-italic color-black typo-upper">{{ heroOfferSectionElement ? heroOfferSectionElement.heading : ''}}</p>
          <p [ngClass]="{'offer-sub-heading-skeleton' : !heroOfferSectionElement}" class="offer-sub-heading typo-primary-light-italic color-black typo-upper">{{ heroOfferSectionElement ? heroOfferSectionElement.subHeading : '' }}</p>
          <p [ngClass]="{'d-none' : !heroOfferSectionElement}" class="offer-description typo-primary-regular typo-sm color-black">{{ heroOfferSectionElement ? heroOfferSectionElement.description : '' }}</p>
          <div [ngClass]="{'d-none' : heroOfferSectionElement}" class="offer-description-skeleton content-column-start content-align-start">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="offer-image content-row-center w-50">
          <img *ngIf="heroOfferSectionElement" class="offer-img" [src]="heroOfferSectionElement.image" alt="...">
        </div>
      </div>
    </div>
  </section>
  <section class="new-products-section w-100 p-relative">
    <div class="grid-container">
      <super-item-carousel [productsArray]="newProductsSectionArray" [carouselTitle]="'new products'"></super-item-carousel>
    </div>
  </section>
  <section class="offer-section w-100 p-relative">
    <div class="grid-container content-row-start">
      <div *ngFor="let offer of offerSectionArray" class="offer-block clickable-true" [ngStyle]="{'flex' : offer.important ? '2' : '1'}">
        <div [ngClass]="{'d-none' : offer === null}" class="offer-block-skeleton content-row-center w-100 h-100 bg-white">
          <p class="typo-primary-black color-black-alt typo-xl typo-upper">offer block</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bestseller-products-section w-100 p-relative">
    <div class="grid-container">
      <super-item-carousel [productsArray]="bestsellerProductsSectionArray" [carouselTitle]="'bestseller products'"></super-item-carousel>
    </div>
  </section>
  <section class="featured-products-section w-100 p-relative">
    <div class="grid-container">
      <super-item-carousel [productsArray]="featuredProductsSectionArray" [carouselTitle]="'featured products'"></super-item-carousel>
    </div>
  </section>
  <section class="brands-carousel-section w-100 p-relative">
    <div class="grid-container">
      <super-item-carousel-advanced [array]="brandSectionArray" [itemsToShow]="4"></super-item-carousel-advanced>
    </div>
  </section>
  <!-- About Component -->
  <!-- Footer Component -->
</div>
